.openTenderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
}
.opentenderheading{
    display: flex;
    justify-content: center;
    font-family: "calibri";
}
.openTenderFeilds{
    width: 90%;
    height: 700px;
}
/* .PrivateNotchedOutline-root-147 {
    width: 240px
} */
.MuiInputBase-root{
    width: 250px;
}
.formDiv{
    display: flex;
    justify-content: space-around;
}
.attach{
    display: flex;
    flex-direction: column;
}
.labelfile{
    font-family: "calibri";
    font-weight: 600;
    font-size: 15px;
}
@media (max-width : 1070px){
    .openTenderFeilds{
      width: 100%;
    }
  }
@media (max-width : 914px){
    .formDiv{
      flex-direction: column;
      align-items: center
    }
    .openTenderFeilds{
        height: auto;
    }
  }