*{
  font-family: "Calibri" !important;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/Images/banner.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .ourStory-Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .headingOurstory{
    margin-bottom: 0px;
    text-align: center;
    font-size: 2.82rem;
    font-family: "Calibri" !important;
  }
  .bidding{
    margin-bottom: 25px;
  }
  .Ourstory-paragraph{
    text-align: center;
    font-size: 30px;
  }
  .btn-div{
    display: flex;
    justify-content: space-between;
    width: 38%;
  }
  .btn-bidnow-tender{
    padding: 25px !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    cursor: pointer;
    background-color: white !important;
    transition: all 2s;    
    font-family: "Calibri" !important;
    border-radius: 10px !important;
    height: 80px;
  } 
  .btn-bidnow-tender:hover{
    background-color: rgb(205, 223, 255) !important;
  }
  .line{
    margin: 82px;
    margin-bottom: 0px;
    border: 1px solid #a5997c;
  }
  .btndiv2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width : 400px){
    .btn-bidnow-tender{
      font-size: 14px !important;
    }
  }
  @media (max-width : 730px){
    .btn-div{
      width: 65%;
    }
  }
  @media (max-width : 960px){
    .btn-div{
      width: 50%;
    }
  }
  @media (max-width : 730px){
    .btn-div{
      flex-direction: column;
      height: 200px;
    }
  }

  
