
*{
    font-family: "Calibri" !important;
}
.MuiPaper-root{
    flex-direction: row !important;
    justify-content: center;
    
}
.MuiAppBar-colorPrimary{
    color: black !important;
    background-color: #fafafa !important;
}
.MuiToolbar-root{
    width: 77%;
}
.MuiTypography-h6{
    font-size : 2.2rem !important;
    font-family: 'EB Garamond', serif !important;
}
.MuiButton-text {
    padding: 6px 12px !important;
}
.MuiButton-root{
    font-size: 1.1rem !important;
    font-family: "Calibri" !important;
    letter-spacing: 1px;
}
.navlink{
    text-decoration: none;
    color: black;
}
@media (max-width:431px){
    .MuiTypography-h6{
        font-size : 1rem !important;
    }
    .MuiButton-root{
        font-size: 0.8rem !important;
    }
} 