.MyTendersStatusContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
}
.MyTendersStatusheading{
    display: flex;
    justify-content: center;
    font-family: "calibri";
}
.MyTendersStatusFeilds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}